/*----------------TAG SELECTORS-----------------*/

body{
    background-color: #0F0E12;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #333F44;
  border-width: 5px;
  width: 200px;
}

h1{
  color: #37AA9C;
  font-size: 40px;
  font-family: "Lucida handwriting", "Courier New";

}

h2{
  color: #37AA9C;
  font-size: 30px;
}

h3{
  color: #94F3E4;
  font-size: 25px;
}

table{
    color: #94F3E4;
    font-size: 20px;
}

/*--------------------CLASS SELECTOR------------------*/
.line3{
  color: powderblue;
}

img{
  border-radius: 15%;
}

img:hover{ /*hover make the shape round when cursor is taken over it.*/
  background-color: powderblue;
  border-radius: 100%;
}
